@font-face {
    font-family: Lato;
    src: url("../Misc/Lato-Regular.ttf");
}

@font-face {
    font-family: Lobster;
    src: url("../Misc/Lobster-Regular.ttf");
}
form {
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}

.register input{
    left: 20px;
    text-align: center;
    position: relative;
    transform: translateY(185px);
    display: block;
    width: 310px;
    padding: 10px;
    border: 2px solid #482673;
    margin: 0px auto;
    font-size: 25px;
    border-radius: 7px;
    background-color: floralwhite;
    font-family: Lato;
}
.register   {
    margin: 8px;
}
#reg {
    text-align: center;
    display: block;
    position: relative;
    transform: translateY(185px);
    width: 165px;
    left: 25px;
    padding: 12px;
    border: 0px solid #482673;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 10px;
    background-color: #ED0B70;
    color: #F6EBF4;
    font-family: Lato;
    text-decoration: none;
}
.input_error    {
    margin-top: 2px;
    display: block;
    position: relative;
    transform: translateY(185px);
    text-align: center;
    font-size: 14px;
    color: red;
    font-family: Lato;
}
#navbar ul {
    display: flex;
    font-family: Lato;
}

 #navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    /* color: white; */
    display: block;
    padding: 220px 193px;
    border-radius: 20px;
    text-decoration: none;
} 

