@font-face {
    font-family: Lato;
    src: url("../Misc/Lato-Regular.ttf");
}

@font-face {
    font-family: Lobster;
    src: url("../Misc/Lobster-Regular.ttf");
}

form {
    display: block;
    margin-top: 0em;
    padding: 0px 50px;
}

body    {
    background-color: #F6EBF4;
    /* background: url('../Images/bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
    margin: 0;
}
#logo_title {
    background-color: #482673;
    /* max-width: 100%; */
    display: flex;
    width: 100%;
    margin-top: 70px;
    padding-top: 5px;
    max-height: 150px;
    height: 100px;
    /* border-bottom: solid#ed0b70 2px;
    border-top: solid#ed0b70 2px; */
}

#title  {
    display: block;
    color: #F6EBF4;
    justify-content: center;
    margin: auto;
}

#logo  {
    float: right;
    max-width: 150px;
    max-height: 150px;
    width: auto/9;
    height: auto;
}
#logo img   {
    display: block;
    max-width: 53%;
    margin: auto;
}
h1  {
    font-family: Lobster;
    font-size: 80px;
    position: absolute;
    left: 153px;
    top: 15px;
}
.text   {
    display: block;
    width: 100%;
    margin: 20px auto;
    margin-top: 150px;
    font-family: Lobster;
    color: #ED0B70;
    text-align: center;
}
#reg   {
    margin-top: 10px;
    font-size: 17px;
    font-family: Lato;
    margin-bottom: 150px;
}

.signin input {
    text-align: center;
    display: block;
    position: relative;
    /* transform: translateY(245px); */
    width: 311px;
    padding: 9px;
    border: 2px solid #482673;
    margin: 8px auto;
    font-size: 25px;
    border-radius: 7px;
    background-color: floralwhite;
    font-family: Lato;
}
#sign {
    text-align: center;
    display: block;
    position: relative;
    width: 165px;
    padding: 12px;
    border: 0px solid #482673;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 10px;
    background-color: #ED0B70;
    color: #F6EBF4;
    font-family: Lato;
    text-decoration: none;
}
#navbar ul {
    display: flex;
    /* margin-top: 250px; */
    font-family: Lato;
    float: right;
    background-color: #023b59;
}

 #navbar ul li {
    list-style: none;
    width: 200px;
    text-align: center;
    font-size: 1.3rem;
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 5px 25px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 7px;
    color: #F6EBF4;
}   #navbar ul li a:hover  {
    color: #46bfa6;
}
#logoo_title {
    max-width: 100%;
    max-height: 150px;
    height: 100px;
    background-color: #023b59;
}

#logoo {
    float: left;
    max-width: 150px;
    /* margin-top: -300px; */
    max-height: 150px;
    width: auto/9;
    height: auto;
}
#logoo img   {
    display: block;
    max-width: 53%;
    margin-left: 30px;
    margin-top: 7px;
    /* margin-top: 515px; */
}
#err    {
    font-size: 14px;
    color: red;
    text-align: center;
    font-family: Lato;
}

@media (max-width: 768px) {
    /* ul  {
        margin-right: 15px;
    } */
    .text   {
        font-size: 22px;
    }
    #reg   {
        font-size: 12px;
    }
    body    {
        background-size: 500%;
    }
    .signin input {
        width: 170px;
        font-size: 15px;
        padding: 7px;
    }
    #sign    {
        font-size: 18px;
        padding: 10px 5px;
        width: 120px;
    }
    #logoo  {
        max-width: 100px;
    }
    #logoo img  {
        max-width: 50%;
        margin-left: 5px;
    }
    #logo img  {
        max-width: 30%;
        margin-left: 20px;
    }
    #logo_title {
        height: 60px;
    }
    h1  {
        font-size: 45px;
        left: 90px;
        top: 44px;
    }
    #navbar ul li   {
        font-size: 0.7rem;
        width: 70px;
    }
    #logoo_title    {
        height: 65px;
    }
}
@media (min-width: 768px) {
    /* ul  {
        margin-right: 25px;
    } */
    .text   {
        font-size: 30px;
    }
    #sign   {
        font-size: 14px;
    }
    .signin input {
        width: 250px;
        font-size: 20px;
        padding: 10px;
    }
    #sign    {
        font-size: 20px;
        width: 140px;
    }
    #logoo  {
        max-width: 150px;
    }
    #logoo img  {
        max-width: 40%;
        margin-left: 20px;
    }
    #logo img  {
        max-width: 40%;
        margin-left: 30px;
    }
    h1  {
        font-size: 60px;
        left: 120px;
        top: 32px;
    }
    #logo_title {
        height: 80px;
    }
    #navbar ul li   {
        font-size: 1.0rem;
        width: 150px;
    }
    #logoo_title    {
        height: 80px;
    }
}
@media (min-width: 960px) {
    /* ul  {
        margin-right: 50px;
    } */
    .text   {
        font-size: 35px;
    }
    #sign   {
        font-size: 17px;
    }
    .signin input {
        width: 310px;
        font-size: 25px;
    }
    #sign    {
        font-size: 25px;
        width: 165px;
    }
    #logoo  {
        max-width: 150px;
    }
    #logoo img  {
        max-width: 53%;
        margin-left: auto;
    }
    #logo img  {
        max-width: 53%;
        margin-left: auto;
    }
    #logo_title {
        height: 100px;
    }
    h1  {
        font-size: 80px;
        left: 153px;
        top: 15px;
    }
    #navbar ul li   {
        font-size: 1.3rem;
        width: 200px;
    }
    #logoo_title    {
        height: 100px;
    }
}
@media (min-width: 1280px) {
    .text   {
        font-size: 25px;
    }
    #sign   {
        font-size: 17px;
    }
    .signin input {
        width: 310px;
        font-size: 25px;
    }
    #sign    {
        font-size: 25px;
        width: 165px;
    }
    #logoo  {
        max-width: 150px;
    }
    #logoo img  {
        max-width: 53%;
        margin-left: auto;
    }
    #logo img  {
        max-width: 53%;
        margin-left: auto;
    }
    #logo_title {
        height: 100px;
    }
    h1  {
        font-size: 80px;
        left: 153px;
        top: 15px;
    }
    #navbar ul li   {
        font-size: 1.3rem;
        width: 200px;
    }
    #logoo_title    {
        height: 100px;
    }
}