@font-face {
    font-family: Lato;
    src: url("../Misc/Lato-Regular.ttf");
}

@font-face {
    font-family: Lobster;
    src: url("../Misc/Lobster-Regular.ttf");
}
body   {
    background-color: #F6EBF4;
    margin: 0px;
}
ul  {
    list-style-type: none;
    margin-right: 75px;
    padding: 0px;
    overflow: hidden;
}

li  {
    float: right;
    margin-right: 10px;
}

li #sign_top    {
    font-family: Lato;
    background-color: #482673;
    border: solid #482673;
    border-width: 2px;
    border-radius: 5px;
    color: #F6EBF4;
    padding: 8px 0px;
    width: 75px;
    text-align: center;
    cursor: pointer;
}

li #reg_top {
    font-family: Lato;
    background-color: #F6EBF4;
    border: solid #482673;
    border-width: 2px;
    border-radius: 5px;
    color: #482673;
    padding: 8px 0px;
    width: 75px;
    text-align: center;
    cursor: pointer;
}

#logo_title {
    /* max-width: 100%; */
    width: 100%;
    padding-top: 5px;
    max-height: 150px;
    height: 100px;
    border-bottom: solid#ed0b70 2px;
    border-top: solid#ed0b70 2px;
}

#title  {
    display: flex;
    justify-content: center;
    margin: auto;
}

#logo  {
    float: left;
    max-width: 150px;
    max-height: 150px;
    width: auto/9;
    height: auto;
}
#logo img   {
    display: block;
    max-width: 53%;
    margin: auto;
}

#desc   {
    height: 500px;
    width: 100%;
    display: flex;
}
#desc p     {
    display: block;
    float: left;
    font-size: 2rem;
    font-family: Lato;
    margin: auto auto;
    width: 50%;
}
#desc a {
    text-decoration: none;
    color: #ed0b70;
}
#bgimg  {
    overflow: hidden;
}
#bgimg img  {
    display: block;
    float: right;
    height: 500px;
}


h1  {
    font-family: Lobster;
    font-size: 80px;
    position: absolute;
    left: 153px;
    top: 15px;
}
#footer {
    width: 100%;
}
#navbar ul {
    display: flex;
    /* margin-top: 250px; */
    font-family: Lato;
    float: right;
    background-color: #023b59;
}

#navbar ul li {
    list-style: none;
    width: 200px;
    font-size: 1.3rem;
    text-align: center;
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 5px 25px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 7px;
    cursor: pointer;
    color: #F6EBF4;
}   #navbar ul li a:hover  {
    color: #46bfa6;
} 
#logoo_title {
    max-width: 100%;
    max-height: 150px;
    height: 100px;
    background-color: #023b59;
    /* border-radius: 10px; */
}

#logoo {
    display: block;
    float: left;
    max-width: 150px;
    /* margin-top: -300px; */
    max-height: 150px;
    width: auto/9;
    height: auto;
}
#logoo img   {
    display: block;
    max-width: 53%;
    margin-left: 30px;
    margin-top: 13px;
    /* margin-top: 515px; */
}


@media (max-width: 768px) {
    ul  {
        margin-right: 15px;
    }
    #logoo  {
        max-width: 100px;
    }
    #logoo img  {
        max-width: 50%;
        margin-left: 5px;
    }
    #logo img  {
        max-width: 30%;
        margin-left: 20px;
    }
    #bgimg img  {
        width: 318px;
        margin-right: -150px;
    }
    #desc   {
        height: 100%;
    }
    #desc p     {
        font-size: 0.8rem;
        margin: auto auto;
        padding: 5px;
    }
    h1  {
        font-size: 45px;
        left: 90px;
        top: 44px;
    }
    #navbar ul li   {
        font-size: 0.7rem;
        width: 70px;
    }
    #logo_title    {
        height: 65px;
    }
    #logoo_title    {
        height: 65px;
    }
}
@media (min-width: 768px) {
    #bgimg img  {
        width: 400px;
        margin-right: -150px;
    }
    #desc   {
        height: 100%;
    }
    #desc p     {
        font-size: 1.5rem;
        margin: auto auto;
        padding: 5px;
    }
    ul  {
        margin-right: 25px;
    }
    #logoo  {
        max-width: 150px;
    }
    #logoo img  {
        max-width: 40%;
        margin-left: 20px;
    }
    #logo img  {
        max-width: 40%;
        margin-left: 30px;
    }
    h1  {
        font-size: 60px;
        left: 120px;
        top: 32px;
    }
    #navbar ul li   {
        font-size: 1.0rem;
        width: 150px;
    }
    #logo_title    {
        height: 90px;
    }
    #logoo_title    {
        height: 80px;
    }
}
@media (min-width: 960px) {
    #bgimg img  {
        width: auto;
    }
    #desc   {
        height: 100%;
    }
    #desc p     {
        font-size: 2rem;
        margin: auto auto;
        padding: 5px;
    }
    ul  {
        margin-right: 50px;
    }
    #logoo  {
        max-width: 150px;
    }
    #logoo img  {
        max-width: 53%;
        margin-left: auto;
    }
    #logo img  {
        max-width: 53%;
        margin-left: auto;
    }
    h1  {
        font-size: 80px;
        left: 153px;
        top: 15px;
    }
    #navbar ul li   {
        font-size: 1.3rem;
        width: 200px;
    }
    #logo_title    {
        height: 100px;
    }
    #logoo_title    {
        height: 100px;
    }
}
@media (min-width: 1280px) {
    #bgimg img  {
        width: auto;
    }
    #desc   {
        height: 100%;
    }
    #desc p     {
        font-size: 2rem;
        margin: auto auto;
        padding: 5px;
    }
    ul  {
        margin-right: 75px;
    }
    #logoo  {
        max-width: 150px;
    }
    #logoo img  {
        max-width: 53%;
        margin-left: auto;
    }
    #logo img  {
        max-width: 53%;
        margin-left: auto;
    }
    h1  {
        font-size: 80px;
        left: 153px;
        top: 15px;
    }
    #navbar ul li   {
        font-size: 1.3rem;
        width: 200px;
    }
    #logo_title    {
        height: 100px;
    }
    #logoo_title    {
        height: 100px;
    }
}