<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readary</title>
    <link rel="stylesheet" href="../SCSS/home_style.css">
    <link rel="shortcut icon" href="../Images/main_logo.png">
</head>
<body>
    <div class="grid">
        <div class="cols">
            <img src="../Images/Books/A Stable for Nightmares.jpg" alt="Cover: A Stable for Nightmares" class="covers">
        </div>
        <div class="cols">
            <img src="../Images/Books/A Stable for Nightmares.jpg" alt="Cover: A Stable for Nightmares" class="covers">
        </div>
        <div class="cols">
            <img src="../Images/Books/A Stable for Nightmares.jpg" alt="Cover: A Stable for Nightmares" class="covers">
        </div>
        <div class="cols">
            <img src="../Images/Books/A Stable for Nightmares.jpg" alt="Cover: A Stable for Nightmares" class="covers">
        </div>
        <div class="cols">
            <img src="../Images/Books/A Stable for Nightmares.jpg" alt="Cover: A Stable for Nightmares" class="covers">
        </div>
    </div>
</body>
</html>