<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Library</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <section id="navbar">
        <div id="mainlogo">  
            <img src="../Images/main_logo.jpg" alt="MyOnlineLibrary">
        </div>
        <div id="btn">
            <input type="button" value="Sign In">
            <input type="button" value="Register">
            <textarea name="search" id="search" cols="30" rows="1" placeholder="Search Books"></textarea>
        </div>
    </section>
    <section id="img">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum inventore recusandae excepturi quia sapiente molestias quidem similique atque tenetur eveniet, at aspernatur quasi exercitationem adipisci suscipit voluptas tempora sed laboriosam.</p>
    </section>

    <footer>
        <div class="contactus">
            <button>Help</button>
            <button>Contact Us</button>
            <button>Sign In</button>
        </div>
    </footer>
</body>
</html>