<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/sign_in.css">
</head>
<body>
    <form action="">
        <div class="signin">
            <label for="username"></label>
            <input type="text" name="username" placeholder="Enter Your Username">
        </div>
        <div class="signin">
            <label for="password"></label>
            <input type="password" name="password" placeholder="Enter Your Password">
        </div>
        <a href="home.html" id="sign">Sign In</a>
    </form>
    <footer>
        <nav id="navbar">
            <ul>
                <li class="items"><a href="#">About Us</a></li>
                <li class="items"><a href="#">Accessibility</a></li>
                <li class="items"><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </footer>
        <div id="logoo_title">
            <div id="logoo">
                <img src="../Images/main_logo.png">
            </div>
        </div>
</body>
</html>